body {
	color:antiquewhite;
	background-color: black;
}

.block-color-gray_background {
	background: rgb(66, 66, 65);
}
.block-color-brown_background {
	background: rgb(187, 59, 59);
}
.block-color-orange_background {
	background: rgb(235, 125, 16);
}
.block-color-yellow_background {
	background: rgb(224, 181, 51);
}
.block-color-teal_background {
	background: rgb(32, 109, 19);
}
.block-color-blue_background {
	background: rgb(26, 160, 218);
}
.block-color-purple_background {
	background: rgba(44, 1, 77, 0.8);
}
.block-color-pink_background {
	background: rgba(214, 30, 113, 0.8);
}
.block-color-red_background {
	background: rgb(196, 28, 36);
}
.select-value-color-pink { background-color: rgba(245, 224, 233, 1); }
.select-value-color-purple { background-color: rgba(232, 222, 238, 1); }
.select-value-color-green { background-color: rgba(12, 73, 12, 0.952); }
.select-value-color-gray { background-color: rgba(227, 226, 224, 1); }
.select-value-color-opaquegray { background-color: rgba(255, 255, 255, 0.0375); }
.select-value-color-orange { background-color: rgba(250, 222, 201, 1); }
.select-value-color-brown { background-color: rgba(238, 224, 218, 1); }
.select-value-color-red { background-color: rgb(189, 59, 36); }
.select-value-color-yellow { background-color: rgba(253, 236, 200, 1); }
.select-value-color-blue { background-color: rgba(211, 229, 239, 1); }

.bookmark-description {
	color: rgba(241, 232, 203, 0.6);
	font-size: 0.75em;
	overflow: hidden;
	max-height: 4.5em;
	word-break: break-word;
}
